/*------------------*/
/* Basic Code Shell */
/*------------------*/

* {
	box-sizing: border-box;
}

/* Optional min width: 320px/20rem */
html {
	min-width: 20rem;
}

body {
	font-size: 0.75rem;
	line-height: 1.5em;
}

img {
	max-width: 100%;
	height: auto;
}

a,
a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	cursor: pointer;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}

.hidden {
	display: none !important;
}

.wrap,
.wrap_hero {
	max-width: 87.5rem; /* 1400px */
	width: 100%;
	margin: 0 auto;
}

@media (max-width: 89.5rem) {
	.wrap {
		padding: 0 2rem;
	}
}

@media (max-width: 45rem) {
	.wrap {
		padding: 0 1.5rem;
	}
}

@media (max-width: 30rem) {
	.wrap {
		padding: 0 1.125rem;
	}
}